In [ ]:
'''
lambda
map
filter
reduce
'''

# lambda

In [ ]:
#anonymous function / one-line function
#syntax : lambda x,y : expr

# find a big number among 2

In [1]:
(lambda x,y : x if x>y else y)(20,30)

30

In [2]:
(lambda x,y : x if x>y else y)(6,5)

6

In [3]:
(lambda x,y : x+y)(10,20)

30

In [4]:
sv=lambda x,y : x+y

In [5]:
sv(10,100)

110

In [6]:
sv(500,600)

1100

In [7]:
#square of a number

In [8]:
(lambda x : x**2)(23)

529

In [9]:
(lambda x : x**2)(123)

15129

In [10]:
# Write a lambda function to get a big number from given 3 individual numbers

bigger_number = lambda x,y,z : x if x > y and x > z else y if y > z and y > x else z

In [11]:
bigger_number(5,6,7)

7

In [12]:
mx=lambda x,y,z: max(x,y,z)

In [13]:
mx(10,30,60)

60

# map

In [15]:
list(map(lambda x:x**2, [1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#circle area

list(map(lambda r: 3.14*r**2,[1,2,3,4,5]))

[3.14, 12.56, 28.26, 50.24, 78.5]

In [20]:
def find_cube(x):
    return x**3

In [21]:
list(map(find_cube,[1,2,3,4,5,6,7,8,9,10]))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
1. Write a map function to get the country name coverted to title case
2. map function to calculate the area of the triangle

In [23]:
def contry_name_tile_case(x):
    return x.title()

list(map(contry_name_tile_case,["india","china","neTharLand","south africa"]))

['India', 'China', 'Netharland', 'South Africa']

In [24]:
def triangle_area(b,h):
    return 0.5*b*h

In [26]:
base=(5,6,7)
height=(10,20,30)
list(map(triangle_area,base,height))

[25.0, 60.0, 105.0]

# filter

In [27]:
list(filter(lambda x: x%2==1 , range(1,11)))

[1, 3, 5, 7, 9]

In [29]:
# allow the people to vote only if thier age is 18 and above

ages=[1,5,12,14,18,19,20,30,40,50,60]

list(filter(lambda x: x>=18, ages))

[18, 19, 20, 30, 40, 50, 60]

# Reduce

In [30]:
from functools import reduce

In [32]:
reduce(lambda x,y : x*y , [1,2,3,4,5,6,7])

5040

In [33]:
def prod_numbers(nums):
    res=1
    for x in nums:
        res*=x
    return res

In [35]:
prod_numbers([1,2,3,4,5,6])

720

In [ ]:
# Scope of variable := local, global

In [42]:
ram_age=10

def birthday():
    global ram_age
    ram_age=11    #local 
    print(f"age inside a funcitons is : {ram_age}")  # 11
    
print(f"age before the function call is :{ram_age}")  # 10
birthday()
print(f"age after the function call is :{ram_age}")   # 10

age before the function call is :10
age inside a funcitons is : 11
age after the function call is :11

In [ ]:
# mandatory, optional/default, *agrs [ more num of arguments ], **kwargs [ Dictionary ] 
# def func(x,z,y=0,*a, **k):
#     pass
# 6,7,8,9,10,11,12,city='Chennai', tech="Python", days=6,

In [43]:
# return , yeild

In [44]:
def func():
    x=3
    return x

In [45]:
func()

3

In [46]:
func()

3

In [47]:
func()

3

In [50]:
def clients():
    return "Goldman Sachs"
    return "Amex"
    return "Visa"
    return "MasterCard"
    return "Samsung"

In [51]:
clients()

'Goldman Sachs'

In [52]:
clients()

'Goldman Sachs'

In [53]:
def clients():
    yield "Goldman Sachs"
    yield "Amex"
    yield "Visa"
    yield "MasterCard"
    yield "Samsung"

In [55]:
for c in clients():
    print(c)

Goldman Sachs
Amex
Visa
MasterCard
Samsung

In [56]:
c=clients()

In [58]:
print(next(c))

Goldman Sachs

In [59]:
print(next(c))

Amex

In [60]:
print(next(c))

Visa

In [61]:
print(next(c))

MasterCard

In [62]:
print(next(c))

Samsung

In [ ]:
#  Decorators